// render 绘制组件样式

// icon-text
.ibiz-icon-text{
  --ibiz-icon-text-font-size-md: var(--ibiz-font-size-md);
  --ibiz-icon-text-icon-width-md: var(--ibiz-font-size-md);
  --ibiz-icon-text-icon-height-md: var(--ibiz-font-size-md);
  --ibiz-icon-text-font-size-lg: var(--ibiz-font-size-lg);
  --ibiz-icon-text-icon-width-lg: var(--ibiz-font-size-lg);
  --ibiz-icon-text-icon-height-lg: var(--ibiz-font-size-lg);
}
