// render 绘制组件样式

// icon-text
.app-icon-text{
  --app-icon-text-font-size-md: var(--app-font-size-md);
  --app-icon-text-icon-width-md: var(--app-font-size-md);
  --app-icon-text-icon-height-md: var(--app-font-size-md);
  --app-icon-text-font-size-lg: var(--app-font-size-lg);
  --app-icon-text-icon-width-lg: var(--app-font-size-lg);
  --app-icon-text-icon-height-lg: var(--app-font-size-lg);
}

// layout 组件样式

.app-index-view-layout{
  --app-index-view-layout-header-color: var(--app-color-white);
  --app-index-view-layout-header-bg-color: #0B3F80;
  --app-index-view-layout-side-bg-color: var(--app-color-white);
  --app-index-view-layout-body-bg-color: #f6f6f6;
  --app-index-view-layout-footer-bg-color: var(--app-color-white);
}
.app-view-layout{
  --app-view-layout-padding: 8px 12px 10px;
  --app-view-layout-header-padding: 0 10px;
  --app-view-layout-bg-color: var(--app-bg-color);
  --app-view-layout-header-bg-color: var(--app-color-white);
  --app-view-layout-body-bg-color: var(--app-color-white);
  --app-view-layout-footer-bg-color: var(--app-color-white);
  --app-view-layout-header-height: auto;
  --app-view-layout-header-min-height: 48px;
  --app-view-layout-header-border-bottom: var(--app-color-border);
  --app-view-caption-font-size: var(--app-font-size-lg)
}