.app-index-view-layout--default {
  height: 100%;
  width: 100%;
  .index-view-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    .sys-title {
      width: 180px;
      padding-left: 12px;
    }
    .trigger:hover {
      color: var(--app-color-primary);
    }
  }
  .center-menu-card {
    height: 100%;
    overflow: auto;
  }
  .ant-layout-content {
    padding: 12px;
  }
}
