.ibiz-view-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: var(--ibiz-view-layout-padding);
  background-color: var(--ibiz-view-layout-bg-color);
}
.ibiz-view-layout__header {
  flex: none;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  background-color: var(--ibiz-view-layout-header-bg-color);
}
.ibiz-view-layout__header-content {
  display: flex;
  justify-content: space-between;
  height: var(--ibiz-view-layout-header-height);
  border-bottom: 1px solid var(--ibiz-view-layout-header-border-bottom);
  margin: --ibiz-view-layout-header-padding;
  .ibiz-view__caption {
    font-size: var(--ibiz-view-caption-font-size);
  }
}
.ibiz-view-layout__body {
  display: flex;
  flex: auto;
  height: 100%;
  padding: 0 10px;
  flex-direction: column;
  overflow: auto;
  background-color: var(--ibiz-view-layout-body-bg-color);
}
.ibiz-view-layout__footer {
  flex: none;
  display: flex;
  justify-content: space-between;
  background-color: var(--ibiz-view-layout-footer-bg-color);
}