sup.ibiz-badge {
  position: absolute;
  top: -0.2rem;
  z-index: 10;
  min-width: 0.4rem;
  height: 0.4rem;
  padding: 0 0.12rem;
  font-size: 0.24rem;
  line-height: 0.36rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background: #ed4014;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  //预设类型颜色
  &.primary {
    background: #2d8cf0;
  }
  &.success {
    background: #19be6b;
  }
  &.normal {
    color: #808695;
    background: #e6ebf1;
  }
  &.error {
    background: #ed4014;
  }
  &.warning {
    background: #f90;
  }
  &.info {
    background: #2db7f5;
  }
  //预设为标大小
  &.small {
    min-width: 0.32rem;
    height: 0.28rem;
    padding: 0 0.08rem;
    line-height: 0.24rem;
  }
  &.large {
    min-width: 0.48rem;
    height: 0.48rem;
    padding: 0 0.16rem;
    line-height: 0.4rem;
  }
}
