// 基础通用变量
:root{
  // 字体
  --ibiz-font-family: -apple-system, BlinkMacSystemFont, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  --ibiz-font-weight-primary: 500;
  --ibiz-font-weight-bold: 600;
  --ibiz-font-line-height: 24px;

  // 字体大小
  --ibiz-font-size-xs: 12px;
  --ibiz-font-size-sm: 14px;
  --ibiz-font-size-md: 16px;
  --ibiz-font-size-lg: 20px;
  --ibiz-font-size-xl: 22px;

  // 字体颜色
  --ibiz-text-color-primary: #303133;
  --ibiz-text-color-regular: #606266;
  --ibiz-text-color-secondary: #909399;
  --ibiz-text-color-placeholder: #c0c4cc;
  --ibiz-text-color-disabled: #bbb;
  --ibiz-text-color-inverse: #fff; // 反转色，深色背景下使用

  // 颜色
  --ibiz-color-white: #fff;
  --ibiz-color-black: #000;
  --ibiz-color-primary: #409eff; //重要的，常用于激活色
  --ibiz-color-success: #67c23a;
  --ibiz-color-warning: #e6a23c;
  --ibiz-color-danger: #f56c6c;
  --ibiz-color-error: #f56c6c;
  --ibiz-color-info: #909399;
  --ibiz-color-border: #e8eaec;
  --ibiz-bg-color: #f5f7fa; //默认背景色
  --ibiz-bg-color-disabled: #f5f7fa; //禁用背景色

  // 边框
  --ibiz-border-color: #dcdfe6;
  --ibiz-border-width: 1;
  --ibiz-border-style: solid;
  --ibiz-border-color-hover: #c0c4cc;
  --ibiz-border-color-disabled: #e4e7ed;
  --ibiz-border-base: var(--ibiz-border-width-base) var(--ibiz-border-style-base)
    var(--ibiz-border-color-base);
}
