// 基础通用样式，重置网站基础样式。
html,body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
}

// 滚动条样式
::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  background-color: #d6d6d6;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

// 去除antd 卡片自带样式
.ant-card-body {
  padding: 0;
}
// 去除antd 表单项自带样式
.ant-form-horizontal .ant-form-item-control{
  flex: 1;
}