.app-quick-group {
  .ant-space-item {
    height: 100%;
    max-height: 48px;
    .quick-group-item {
      padding: 0;
      margin: 0 10px;
      height: 100%;
      border-bottom: 2px solid var(--app-color-primary);
      &:hover .app-icon-text {
        color: var(--app-color-primary);
      }
    }
  }
}