// 基线对齐
.app-icon-text__icon,.app-icon-text__icon-img{
  vertical-align: bottom;
}
// 默认样式
.app-icon-text--default{
  font-size: var(--app-icon-text-font-size-md);
  .app-icon-text__icon,.app-icon-text__icon-img{
    width: var(--app-icon-text-icon-width-md);
    height: var(--app-icon-text-icon-height-md);
  }
}
// large的样式
.app-icon-text--large{
  font-size: var(--app-icon-text-font-size-lg);
  .app-icon-text__icon,.app-icon-text__icon-img{
    width: var(--app-icon-text-icon-width-lg);
    height: var(--app-icon-text-icon-height-lg);
  }
}
// 位置变化的样式
.app-icon-text--left .app-icon-text__text{
  margin-left: 5px;
}
.app-icon-text--right .app-icon-text__text{
  margin-right: 5px;
}