// 基线对齐
.ibiz-icon-text__icon,.ibiz-icon-text__icon-img{
  vertical-align: bottom;
}
// 默认样式
.ibiz-icon-text--default{
  font-size: var(--ibiz-icon-text-font-size-md);
  .ibiz-icon-text__icon,.ibiz-icon-text__icon-img{
    width: var(--ibiz-icon-text-icon-width-md);
    height: var(--ibiz-icon-text-icon-height-md);
  }
}
// large的样式
.ibiz-icon-text--large{
  font-size: var(--ibiz-icon-text-font-size-lg);
  .ibiz-icon-text__icon,.ibiz-icon-text__icon-img{
    width: var(--ibiz-icon-text-icon-width-lg);
    height: var(--ibiz-icon-text-icon-height-lg);
  }
}
// 位置变化的样式
.ibiz-icon-text--left .ibiz-icon-text__text{
  margin-left: 5px;
}
.ibiz-icon-text--right .ibiz-icon-text__text{
  margin-right: 5px;
}