.app-search-form {
  &>.ant-row {
    flex-direction: column;
    .search-form-footer {
      text-align: right;
    }
  }
  &.right-button>.ant-row {
    flex-flow: row wrap;
    .search-form-content {
      flex: auto;
    }
  }
  .search-form-footer {
    padding-left: 8px;
    .ant-btn {
      margin-right: 4px;
    }
  }
}
//搜索表单气泡
.search-form-popover-button {
  margin-top: 8px;
  display: flex;
  justify-content: right;
  .ant-btn {
    margin-left: 4px;
  }
}