.app-mpickup-view {
  padding: 0;
  .app-pickup-grid-view {
    padding: 0;
  }
  .app-mpickup-view__split {
    .split__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .split__right {
      background-color: #f6f6f6;
    }
  }
  .app-view-layout__footer {
    padding: 12px 0;
    justify-content: flex-end;
  }
}